.home {
  color: #497174;
}

.vehiculelist {
  color: #497174;
}
.reserved {
  color: #497174;
}
.profil {
  color: #497174;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  height: 4px;
  width: 0;
  background: #eb6440;
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: anim 0.3s ease forwards;
  animation: anim 0.6s ease forwards;
}

@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}
@keyframes anim {
  to {
    width: 100%;
  }
}
