@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: auto;
}
body {
  background-color: #EFF5F5;
}
.App {
  text-align: center;
}
